.Error {
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Error-logo1 {
  width: 100%;
}

.Error-logo2 {
  width: 100%;
  height: 90%;
}

.Error-text {
  width: 100%;
  height: 20%;
  text-align: center;
}

.Error-home {
  font-size: 1.5em !important;
  padding: 1em 3.5em !important;
}

h3 {
  margin: 3em 0;
}
.errorMessage {
  color: red;
  font-size: 0.7em;
  margin-top: 3px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}
