body {
  margin: 0;
}


.fpwd-container {
  margin-top: 2em;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backimg {
  width: 100%;
}
.backimg img {
  margin-top: 10px; 
  float: left;
  width: 50px;
  height: 50px;
}

/* .div1 span {
position: relative;
font-size: 2em;
font-weight: 700;
line-height: 27px;
font-style: normal;

} */

.fpwd-title {
width: 100%;
height: 10%;
text-align: center;
}
#logo {
  padding-bottom: 30px;
}

.fpwd-body {
text-align: center;
}

.fpwd-body p {
margin-top: 20px;
margin-bottom: 5px;
font-size: 0.9em;
color: #484848;
font-family: "Lato";
font-style: normal;
font-weight: 700;
text-align: left;
}

.fpwd-body input {
padding: 1em;
border: 1px white solid;
background: var(--input-color);
border-radius: 10px;
font-size: 1em;
font-family: "Lato";
font-style: normal;
font-weight: 700;
}

.fpwd-body button {
  width: 100px;
  padding: 1em;
  border: 0;
  background: var(--button-color);
  font-size: 1em;
  border-radius: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  margin-left: 15px;
  }
  
.newpassword {
  width: 90%;
  padding: 1em;
  border: none;
  background: #d8d8dd;
  border-radius: 10px;
  font-size: 1em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}

.errorMessage {
color: red;
font-size: 0.8em;
margin-top: 3px;
position: relative;
font-family: "Lato";
font-style: normal;
font-weight: 700;
text-align: left;
}

.fpwd-nextbtn {
  margin-top: 30px;
  text-align: center;
}

.fpwd-nextbtn button {
padding: 1em;
padding-left: 30px;
padding-right: 30px;
border: 0;
background: var(--button-color);
font-size: 1em;
border-radius: 15px;
font-family: "Lato";
font-style: normal;
font-weight: 700;
line-height: 27px;
color: #fff;
}
