body {
    margin: 0;
  }

.Find-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1 {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.div1 img {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
}

/* .div1 span {
  position: relative;
  font-size: 2em;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  
} */

.div2 {
  width: 80%;
  height: 10%;
  text-align: center;
}

.div2 span {
  font-size: 3em;
  font-weight: 900;
  font-family: "Lato";
  font-style: normal;
}
.div2 strong {
  font-size: 2em;
  font-family: "Lato";
  font-style: normal;
  color: #7C7C7C;
}

.div3 {
  width: 60%;
}

.div3 p {
  width: 50%;
  position: relative;
  
  font-size: 1.8em;
  color: #484848;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  
}

.div3 input {
  width: 100%;
  position: relative;
  border: 0;
  height: 100px;
  background: #d8d8dd;
  border-radius: 20px;
  font-size: 1.7em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.errorMessage {
  color: red;
  font-size: 1.5em;
  margin-top: 3px;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.div3 button {
  position: relative; 
  float: right;
  border: 0;
  width: 25%;
  height: 100px;
  background: #9588E0;
  border-radius: 15px;
  font-size: 2em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
}

.div4 {
  width: 60%;
  height: 20%;
}

.div4 p {
  width: 50%;
  position: relative;
  font-size: 1.8em;
  color: #484848;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  
}

.div4 input {
  width: 50%;
  position: relative;
  border: 0;
  height: 100px;
  background: #d8d8dd;
  border-radius: 20px;
  font-size: 1.7em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 3px;
  padding-left: 20px;
}

.div5 {
  width: 40%;
}

.div5 button {
  position: relative;
  width: 100%;
  border: 0;
  /* width: 78%; */
  height: 120px;
  background: #9588E0;
  border-radius: 30px;
  font-size: 2.3em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 67px;
}

.div5 button :disabled {
  background: red;
}