body {
  margin: 0;
}


.fpwd-container {
  margin-top: 2em;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backimg {
  width: 100%;
}
.backimg img {
  margin-top: 10px; 
  float: left;
  width: 50px;
  height: 50px;
}

/* .div1 span {
position: relative;
font-size: 2em;
font-weight: 700;
line-height: 27px;
font-style: normal;

} */

.fpwd-title {
width: 100%;
height: 10%;
text-align: center;
}

.fpwd-title span {
font-size: 1.5em;
font-weight: 900;
font-family: "Lato";
font-style: normal;
}
.fpwd-title strong {
font-size: 1em;
font-family: "Lato";
font-style: normal;
color: #7C7C7C;
}

.fpwd-body {
text-align: center;
}

.fpwd-body p {
margin-top: 20px;
margin-bottom: 5px;
font-size: 0.9em;
color: #484848;
font-family: "Lato";
font-style: normal;
font-weight: 700;
text-align: left;
}

.fpwd-body input {
padding: 1em;
border: none;
background: #d8d8dd;
border-radius: 10px;
font-size: 1em;
font-family: "Lato";
font-style: normal;
font-weight: 700;
}




.fpwd-body button {
  width: 100px;
  padding: 1em;
  border: 0;
  background: #9588E0;
  font-size: 1em;
  border-radius: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  margin-left: 15px;
  }
  
.newpassword {
  width: 90%;
  padding: 1em;
  border: none;
  background: #d8d8dd;
  border-radius: 10px;
  font-size: 1em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;

  
}

.input:disabled {
  background: black;
}

.errorMessage {
color: red;
font-size: 0.8em;
margin-top: 3px;
position: relative;
font-family: "Lato";
font-style: normal;
font-weight: 700;
text-align: left;
}

/* .div4 {
width: 60%;
height: 20%;
}

.div4 p {
width: 50%;
position: relative;
font-size: 1.8em;
color: #484848;
font-family: "Lato";
font-style: normal;
font-weight: 700;
line-height: 21px;

}

.div4 input {
width: 50%;
position: relative;
border: 0;
height: 100px;
background: #d8d8dd;
border-radius: 20px;
font-size: 1.7em;
font-family: "Lato";
font-style: normal;
font-weight: 700;
line-height: 21px;
margin-bottom: 3px;
padding-left: 20px;
} */

.fpwd-nextbtn {

  margin-top: 30px;
  text-align: center;
}

.fpwd-nextbtn button {
padding: 1em;
padding-left: 30px;
padding-right: 30px;
border: 0;
background: #9588E0;
font-size: 1em;
border-radius: 15px;
font-family: "Lato";
font-style: normal;
font-weight: 700;
line-height: 27px;
color: #fff;
}
