.main{ box-sizing: border-box; position: absolute; width: 430px; height: 931px; left: 0px; top: -11px; background: #FDFEFF; border: 1px solid #000000; }

.Hug{ display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 8px; position: absolute; width: 19.66px; height: 16px; left: 21px; top: 67px; }

.App-logo { display: flex; margin-top: 200px; width: 404px; height: 360px; }

.App-title { position: absolute; width: 90px; height: 32px; left: 60px; top: 59px; font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 22px; line-height: 32px; color: #0A013D; }  

.home{box-sizing: border-box; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 16px 24px; gap: 10px; position: absolute; width: 120px;height: 32px;left: 316px;top: 59px;background: #9588E0; border: 1px solid #4A72FF;box-shadow: 0px 1px 2px #E8EDFF, 0px 0px 0px 3px #E8EDFF;border-radius: 6px;width: 97px;height: 32px;font-family: 'Inter';font-style: normal;font-weight: 500;font-size: 12px;line-height: 32px;letter-spacing: -0.3px;color: #ffffff;flex: none;order: 0;flex-grow: 0;}

.my-information{ 
    /* 내정보 css임 ㅎㅎ */
 box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;
 align-items: center;padding: 16px 24px;gap: 10px;
 position: absolute;
 width: 120px;
 height: 32px;
 left: 15px;
 top: 150px;
 background: #9588E0;
 border: 1px solid #4A72FF;
 box-shadow: 0px 1px 2px #E8EDFF, 0px 0px 0px 3px #E8EDFF;
 border-radius: 6px;
 width: 195px;
 height: 32px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 32px;
 letter-spacing: -0.3px;
 color: #ffffff;
 flex: none;
 order: 0;
 flex-grow: 0;
 }

 .my-record{ 
    /* 조회기록 css임 ㅎㅎ */
 box-sizing: border-box;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 16px 24px;
 gap: 10px;
 position: absolute;
 width: 120px;
 height: 32px;
 left: 220px;
 top: 150px;
background: rgba(226, 223, 248, 0.7);
 border: 1px solid #4A72FF;
 box-shadow: 0px 1px 2px #E8EDFF, 0px 0px 0px 3px #E8EDFF;
 border-radius: 6px;
 width: 190px;
 height: 32px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 32px;
 letter-spacing: -0.3px;
 color: #000000;
 flex: none;
 order: 0;
 flex-grow: 0;
 } 
 
.my-record:hover{
    background-color:#ec15e2;
    color:#ffffff;  
}

.mypage{
    /* 마이페이지 CSS임 ㅎㅎ*/
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 28px 16px 20px;
gap: 12px;

position: absolute;
width: 400px;
height: 48px;
left: 11px;
top: 83px;
background: rgba(226, 223, 248, 0.7);
border: 1px solid #F4F6F9;
box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.08);
border-radius: 20px;

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.yam{
    margin-top: 200px;
}

.yas{
    background: rgba(226, 223, 248, 0.7);
    width: 150px;
    border-radius: 20px;
    margin-left:20px;
    margin-top:10px;
    text-align : center;
    padding: 16px;
    font-size : 20px;
    box-shadow: 0px 1px 2px #E8EDFF, 0px 0px 0px 3px #E8EDFF;
    border: 1px solid #4A72FF;
}

.ee{
    display: flex;
}