

.main{
    box-sizing: border-box;

    position: absolute;
    width: 430px;
    height: 931px;
    left: 0px;
    top: -11px;

    background: #FDFEFF;
    border: 1px solid #000000;
}

.you{
    margin-top: 200px;
    font-size: 20px;
    
    border: 1px solid #000000
}