.main{ box-sizing: border-box; position: absolute; width: 430px; height: 931px; left: 0px; top: -11px; background: #FDFEFF; border: 1px solid #000000; }

.Logo{
    position: absolute;
    width: 284px;
    height: 96px;
    left: 47px;
    top: 32px;
    margin-top: 10px;
}

.body{
    margin-top: 200px;
}

.woo{
    display: flex;
}

.box{
    background: rgba(226, 223, 248, 0.7);
    width: 350px;
    border-radius: 20px;
    margin-left:20px;
    margin-top:10px;
    text-align : center;
    padding: 16px;
    font-size : 20px;
    box-shadow: 0px 1px 2px #E8EDFF, 0px 0px 0px 3px #E8EDFF;
    border: 1px solid #4A72FF;
}

.box:hover{
    background: #9588E0;
}