body {
    background-image: url("./login-bg-img.png");
    background-size: cover;
  }
  .signuptext {
    font-size: 70px;
    color: #9588e0;
    text-align: center;
    margin-top: 400px;
    font-weight: 900;
  }
  .text_box {
    margin-left: 100px;
    left: 10%;
    font-size: 30px;
    color: #9588e0;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }
  .total_input {
    position: relative;
    left: 10%;
    border: 0;
    left: 10%;
    width: 80%;
    height: 120px;
    background: #d8d8dd;
    border-radius: 20px;
    font-size: 26px;
  }
  #kakao {
    position: relative;
    left: 10%;
    border: 0;
    left: 10%;
    width: 80%;
    height: 120px;
    background: #d8d8dd;
    border-radius: 20px;
    font-size: 26px;
  }
  #address_detail {
    position: relative;
    left: 10%;
    border: 0;
    left: 10%;
    width: 80%;
    height: 120px;
    background: #d8d8dd;
    border-radius: 20px;
    font-size: 26px;
  }
  .Signup-btn {
    position: relative;
    left: 10%;
    top: 50px;
    width: 80%;
    height: 120px;
    background: #9588e0;
    border-radius: 20px;
    font-size: 38px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: #fff;
  }
  .Login {
    margin-top: 100px;
    margin-left: 200px;
    left: 10%;
    font-size: 30px;
    color: White;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }
  #login_purple {
    color: #9588e0;
  }
  a {
    text-decoration: none;
  }