* {
  margin: 0;
  padding: 0;
}

.start_page {
  text-align: center;
  height: 100vh;
  background-image: url("./static/start-bg-img.png");
  background-repeat: no-repeat;
  background-position: center top;
}

#logo {
  margin-top: 12em;
}

.btn {
  background-color: #9588e0;
  color: white;
  width: 9em;
  height: 3.5em;
  margin-top: 27em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  border-radius: 7px;
  border: 0;
}
