/*My Page나오는 div입니다.*/
.MyPage-Header {
  width: 100%;
  font-size: 20px;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: solid 1px #9588e0;
  margin-top: 10px;
}

/*나의 정보와 최근조회기록 버튼 두개가 있는 div입니다. */
.MyPage-ClickMenu {
  display: flex;
  height: 5%;
  width: 100%;
  margin-top: 5px;
}

/*클릭했을때 색깔진한 버튼입니다. */
.MyPage-MyInfo1 {
  width: 50%;
  background-color: #9588e0;
  border: 1px solid grey;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 2px;
}

/*클릭하면 클릭안된 색깔연한 버튼입니다. */
.MyPage-MyInfo2 {
  width: 50%;
  background-color: #e2dff8;
  border: 1px solid grey;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 2px;
}

@media screen and (max-width: 768px) {
  .MyPage-MyInfo1,
  .MyPage-MyInfo2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .MyPage-MyInfo1,
  .MyPage-MyInfo2 {
    font-size: 15px;
  }
}
