.mypage_full_container {
  width: 480px;
  margin: auto;
}

.mypage-main {
  display: flex;
  width: 480px;
  height: 85vh;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 780px) {
  .mypage-main {
    width: 100vw;
  }
}

/* MyPage-Header CSS */
.mypage_header-menu {
  margin: 0;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: var(--text-color) !important;
}
