/*MyPage-Checked-Text와 삭제버튼 들어있는 div입니다.*/
.MyPage-CheckedItems {
  background-color: var(--input-color);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6em;
  padding: 0.5em 0;
  border-radius: 5px;
}
/*no1. 기업이름 나오는 div입니다. */
.MyPage-Checked-Text {
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 1em;
}

/* 삭제 버튼 */
.MyPage-CheckedItems > Button {
  margin-right: 1.5em;
}

/*최근조회 내역과 전체삭제 버튼이 들어있는 div입니다.*/
.MyPage-SearchMenu {
  display: flex;
  justify-content: space-between;
  height: 5%;
  width: 100%;
  margin: 1em 0 1em;
}

.MyPage-SearchMenu > Button {
  margin: 0 1em;
}

/*최근 조회내역*/
.MyPage-Recently {
  background: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .MyPage-CheckedItems {
    font-size: 15px;
  }
}
