.mypage-main {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, '맑은 고딕', serif;
}

.mypage-mypage {
  margin-top: 10px;
  max-width: 768px;
  width: 100%;
  font-size: 100vw;
  height: 5%;
  border-style: none;
  font-size: 100%;
  background-color: #9588e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mypage-clickmenu {
  display: flex;
  flex: 0, 1, 0, 1;
  height: 5%;
  max-width: 768px;
  width: 100%;
}

.mypage-searchmenu {
  display: flex;
  height: 5%;
  max-width: 768px;
  width: 100%;
}

.mypage-head-left-items {
  width: 15%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.mypage-head-left-items2 {
  width: 20%;
  height: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: auto;
}

.mypage-checkeditems-alldeletebtn {
  margin-left: auto;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: auto;
  border: 1px solid white;
  background-color: #4a72ff;
  color: white;
  /* box-shadow: 0px 1px 2px #E8EDFF, 0px 0px 0px 3px #E8EDFF; */
}

.mypage-checkeditems {
  max-width: 768px;
  background-color: rgba(226, 223, 248, 0.7);
  margin-top: 10px;
  width: 100%;
  height: 10%;
  border-style: none;
  font-size: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.mypage-chekeditem-deletebtn {
  margin-left: auto;
  padding: 1%;
  border: 1px solid white;
  background-color: #4a72ff;
  color: white;
}

.mypage-checked-text {
  width: 200px;
  color: #000000;
}

.mypage-recently {
  background: #ffffff;
  width: 18%;
  height: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
}

.mypage-myinformations {
  max-width: 768px;
  width: 100%;
  flex: 1, 0, 1, 0;
  height: 70%;
  align-items: center;
  flex-direction: column;
}

.mypage-myinfo1 {
  width: 50%;
  background-color: #9588e0;
  border-style: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  color: white;
}

.mypage-myinfo2 {
  width: 50%;
  background-color: #e2dff8;
  border-style: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.mypage-myinformation {
  width: 100%;
  height: 20%;
  border-style: none;
  background-color: #e2dff8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  /* visibility: hidden; */
}

.mypagelogo {
  width: 100%;
  height: 100%;
}

.mypage-none {
  display: none;
}

.mypage-pwcheck {
  border: 1px solid white;
  background-color: #4a72ff;
  color: white;
}
