.signup-container {
  width: 480px;
  height: 100vh;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-items: center;
  margin: auto;
}
.input-container {
  display: flex;
  margin-left: 5%;
  max-width: 90%;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.addressSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signuptext {
  font-size: 2em;
  margin-top: 0.5em;
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
}
.text_box {
  font-size: 1.2em;
  color: var(--text-color);
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}
.total_input {
  border: 1px white solid;
  background: var(--input-color);
  border-radius: 10px;
  width: 100%;
  padding: 1.5em;
}
.total_input:focus {
  border: 1px solid;
  border-color: var(--button-color);
  outline: none;
}
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.Signup-btn {
  text-align: center;
  width: 80%;
}
.send-email-disabled {
  height: 2em;
  width: fit-content;
}
.addressButton {
  width: 4em;
  height: 4em;
}
#address {
  background: #e0e0e0;
}
.email-check-button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.email-input {
  display: flex;
}

.btn-send-email {
  width: 8em;
  height: 4em;
}

@media (max-width: 780px) {
  .signup-container {
    padding: 10px;
    width: 90%;
    margin: 0em;
  }
}
@media (max-width: 780px) {
  .signup-container {
    padding: 10px;
    width: 90%;
    margin: 0em;
  }
}
