.signup-all-container {
  width: 480px;
  min-width: 520px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.signup-container {
  margin-top: 1.8em;
  margin-bottom: 3em;
  text-align: center;
}

.input-container {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  justify-items: center;
  margin: 1em 5%;
}
.addressSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signuptext {
  font-size: 1.7em;
  margin-top: 0.5em;
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  margin-bottom: 1em;
}

.total_input {
  background: var(--input-color);
  border-radius: 5px;
  width: 100%;
  padding: 1.5em;
}
.total_input:focus {
  border: 1px solid;
  border-color: var(--button-color);
  outline: none;
}
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.Signup-btn {
  text-align: center;
  width: 80%;
}
.send-email-disabled {
  height: 2em;
  width: fit-content;
}
.addressButton {
  width: 4em;
  height: 4em;
}
#address {
  background: #e0e0e0;
}
.email-check-button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.email-input {
  display: flex;
}

.btn-send-email {
  width: 4em;
  height: 4em;
}
#btn-set {
  margin-left: 1em;
}
#password {
  margin-top: 2em;
}

@media (max-width: 780px) {
  .signup-all-container {
    width: 90%;
    text-align: center;
  }
}
