.signup-container {
  width: 480px;
  height: 100vh;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-items: center;
  margin: auto;
}
.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.addressSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signuptext {
  font-size: 2em;
  margin-top: 0.5em;
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
}
.text_box {
  font-size: 1.2em;
  color: var(--text-color);
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}
.total_input {
  border: 1px white solid;
  background: var(--input-color);
  border-radius: 10px;
  padding: 1.5em;
}
.total_input:focus {
  border: 1px solid;
  border-color: var(--button-color);
  outline: none;
}
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.Signup-btn {
  text-align: center;
  width: 80%;
}

.addressButton {
  margin: 0px;
  height: 2em;
}
#address {
  background: #e0e0e0;
}
