/* coding by 'ikki' */

.container {
  margin: 8em 4em;
}

.menu-icon {
  width: 0.8em;
  height: 0.8em;
  padding-right: 0.5em;
}

.header {
  font-size: 4em;
  margin-bottom: 1em;
}

.admin-title {
  font-size: 3em;
  font-weight: bold;
  background: var(--soft-color);
  border-radius: 20px;
  padding: 0.4em;
  margin-bottom: 0.6em;
}

.admin_btn {
  font-size: 2.8em;
  width: 6em;
  padding: 0.4em;
  margin-right: 0.6em;
  background: var(--soft-color);
  border-radius: 20px;
  margin-bottom: 0.6em;
  border: none;
}

.focus_btn {
  font-size: 2.8em;
  width: 6em;
  padding: 0.4em;
  margin-right: 0.6em;
  background: var(--main-color);
  border-radius: 20px;
  margin-bottom: 0.6em;
  border: none;
}

.member_info {
  font-size: 1.8em;
  background: var(--soft-color);
  border-radius: 20px;
  margin-bottom: 0.6em;
}
