/* coding by 'ikki' */
:root {
  --main-color: #9588e0;
  --soft-color: #e2dff8;
}

* {
  margin: 0;
  padding: 0;
}

/* Admin Css */
.admin_container {
  margin: 8em 4em;
}

.admin_header {
  font-size: 4em;
  margin-bottom: 1em;
}

#title_img {
  margin: 0.15em 0.3em;
}

.admin-title {
  font-size: 3em;
  font-weight: bold;
  background: var(--soft-color);
  border-radius: 20px;
  padding: 0.4em;
  margin-bottom: 0.6em;
}

.admin_btn {
  font-size: 2.8em;
  width: 6em;
  padding: 0.4em;
  margin-right: 0.6em;
  background: var(--soft-color);
  border-radius: 20px;
  margin-bottom: 0.6em;
  border: none;
}

.stats_radio_box {
  display: flex;
  justify-content: space-between;
}

.stats_radio_box input[type="radio"] {
  display: none;
}

.stats_radio_box input[type="radio"] + label {
  display: inline-block;
  width: 4.1em;
  font-size: 2.8em;
  padding: 0.4em;
  background: var(--soft-color);
  border-radius: 20px;
  margin-bottom: 0.6em;
  border: none;
  text-align: center;
}

.stats_radio_box input[type="radio"]:checked + label {
  background-color: var(--main-color);
}
