/* AdminPage Css */
.admin_container {
  padding: 2em 1em;
  font-size: 1em;
  width: 480px;
  height: 80vh;
  border: 1px solid purple;
  margin: auto;
}

.button_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
}
.admin_btn {
  width: 49%;
  font-size: 1.5em;
  align-items: center;
  padding: 1%;
  background: var(--);
  border-radius: 10px;
  margin-bottom: 0.6em;
  border: none;
}

/* Graph Css */
.graph_container {
  border: 1px solid coral;
}

.stats_title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.6em;
  font-weight: bold;
}
