/* coding by 'ikki' */

.start_page {
  text-align: center;
  height: 100vh;
  background-image: url("../images/start-bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center top; */
}

#logo {
  width: 45em;
  margin-top: 30em;
}

.btn {
  background-color: #9588e0;
  color: white;
  width: 20em;
  height: 8em;
  margin-top: 60em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  border-radius: 20px;
  border: 0;
}
