/* coding by 'ikki' */

.user_info_container {
  background-color: var(--soft-color);
  border-radius: 10px;
  font-size: 1em;
  display: grid;
  grid-template-columns: 2em 9fr;
  align-items: center;
  margin-bottom: 0.6em;
}

.user_info_container .user_info_box:first-child {
  text-align: center;
  padding-left: 0.4em;
}

.user_box {
  display: grid;
  grid-template-columns: 3em auto;
}

.user_box :first-child {
  text-align: center;
}

.user_info_container div {
  margin: 0.1em;
}
