/* 마커 CSS */

/* 기본 마커 */
.label {
  /* ... 기존 스타일 유지 ... */
  display: flex; /* 추가 */
  align-items: center; /* 추가 */
  border-radius: 24px;
  /* border: 1px solid #1565c0; */
  background-color: white;
  font-size: 0.8em;
  font-weight: bolder;
  display: flex; /* 추가 */
  align-items: center; /* 추가 */
  padding-left: 5px;
}

.text-container {
  padding: 5px 10px;
}

.icon-circle {
  width: 25px; /* 원하는 크기로 조절 */
  height: 25px; /* 원하는 크기로 조절 */
  border-radius: 50%; /* 원 모양 유지 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: 0.6em; /* 작은 글씨 크기 설정 */
  color: rgba(14, 0, 0, 0.692); /* 작은 글씨 색상 설정 */
}

/* 주소 크기 조절 */
.label #distance-element {
  font-size: 0.3em;
}

/* 화면 오래 누를 시 하이라이트 효과 등 기본 효과 제거 */
#remove-default-browser-effect {
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Non-prefixed version, supported by newer browsers */
}

.label:hover {
  transform: scale(1.2); /* 마우스 오버 시 크기를 20% 증가 */
  background-color: rgb(249, 249, 252);
  box-shadow: 0 0 15px rgba(56, 56, 131, 0.5);
}

/* 퍼지는 효과를 위한 설정 */
.label:active {
  transform: scale(1.2); /* 마우스 오버 시 크기를 20% 증가 */
  background-color: rgba(161, 161, 226, 0.952);
  box-shadow: 0 0 15px rgba(115, 115, 221, 0.5);
  /* z-index: 1000; */
}

/* 클릭 후 오버레이  */
.overlay_info {
  /* 기존 코드 유지 */
  border-radius: 6px;
  /* margin-bottom: 12px; */
  float: left;
  position: absolute; /* 'relative'를 'absolute'로 변경 */
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  background-color: #fff;

  /* 새로 추가 */
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.overlay_info:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.overlay_info a {
  display: block;
  background: rgba(115, 115, 221, 0.952);
  background: rgba(115, 115, 221, 0.952)
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
  text-decoration: none;
  color: #fff;
  padding: 12px 36px 12px 14px;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
}
.overlay_info a strong {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/place_icon.png)
    no-repeat;
  padding-left: 27px;
}
.overlay_info .desc {
  padding: 14px;
  position: relative;
  min-width: 190px;
  height: 56px;
}
.overlay_info img {
  vertical-align: top;
}
.overlay_info .address {
  font-size: 12px;
  color: #333;
  /* position: absolute; */
  left: 80px;
  right: 14px;
  top: 24px;
  white-space: normal;
}
