.map {
    
    border: solid 1px black;
}

.button {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
}

#test {
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 200px;
    height: 100px;
}