/* 기본 제공 오버레이 */
/* .label {
  margin-bottom: 96px;
} */
.label:hover {
  transform: scale(1.2); /* 마우스 오버 시 크기를 20% 증가 */
  z-index: 2; /* 마우스 오버 시 라벨이 다른 요소 위로 올라오도록 z-index 조절 */
}

.label {
  cursor: pointer; /* 마우스 포인터가 라벨 위에 있을 때 포인터 모양으로 변경 */
  transition: transform 0.3s ease; /* 크기 변화에 대한 부드러운 애니메이션 효과 적용 */
  background-color: rgba(230, 230, 240, 0.952);
  border-radius: 24px;
  border: 1px solid black;
  color: black;
  font-size: 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  padding: 2px 5px;
  position: relative;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.label * {
  display: inline-block;
  vertical-align: top;
}
.label .left {
  background: url('https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png')
    no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  vertical-align: top;
  width: 7px;
}
.label .center {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png)
    repeat-x;
  display: inline-block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}
.label .right {
  background: url('https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png') -1px
    0 no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  width: 6px;
}

클릭 후 오버레이 .overlay_info {
  border-radius: 6px;
  margin-bottom: 12px;
  float: left;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
}
.overlay_info:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.overlay_info a {
  display: block;
  background: #d95050;
  background: #d95050
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
  text-decoration: none;
  color: #fff;
  padding: 12px 36px 12px 14px;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
}
.overlay_info a strong {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/place_icon.png)
    no-repeat;
  padding-left: 27px;
}
.overlay_info .desc {
  padding: 14px;
  position: relative;
  min-width: 190px;
  height: 56px;
}
.overlay_info img {
  vertical-align: top;
}
.overlay_info .address {
  font-size: 12px;
  color: #333;
  position: absolute;
  left: 80px;
  right: 14px;
  top: 24px;
  white-space: normal;
}
.overlay_info:after {
  content: '';
  position: absolute;
  margin-left: -11px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png)
    no-repeat 0 bottom;
}

/* // CSS를 추가하여 z-index를 기본적으로 0으로 설정합니다. */
/* // style.css 또는 head 태그 내의 style 태그에 이 내용을 추가하세요. */
.overlay_content {
  z-index: 0;
  position: relative;
  cursor: pointer; /* 마우스 오버 시 포인터 모양이 변경되도록 설정합니다. */
}

.overlay_content:hover {
  /* 마우스 오버 시 border 및 shadow 효과를 적용합니다. */
  /* border: 0.3px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); */
}
