.login-full-container {
  width: 480px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-paper-container {
  padding: 20px;
  padding-bottom: 4em;
}

.logintext {
  font-size: 2em;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2em;
}

.mail_pw_container {
  max-width: 90%;
  margin: 1.5em 5%;
}

.id_pw_text {
  text-align: left;
  font-size: 1.2em;
  color: var(--text-color);
  font-weight: 700;
  margin: 0.5em 0;
}

.login_input {
  width: 100%;
  padding: 1em;
  background: var(--input-color);
  border-radius: 5px;
}

.find-pw-container {
  text-align: right;
  margin: 3em 2em 1em 2em;
}

.errorMessage_mg {
  margin-left: 1em;
}

.login-btn {
  width: 80%;
  text-align: center;
}

.api-btn {
  margin: 1.5em 10px;
}

.api-btn button {
  margin-top: 40px;
  border: none;
}

.api-btn img {
  display: inline;
  width: 100px;
  border-radius: 5px;
  box-shadow: #838383 2px 2px 2px;
}

.api-btn :hover {
  box-shadow: #838383 4px 4px 6px, #292929 3px 3px 3px;
}
.signup-div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--button-color);
}

.signup-div span {
  color: var(--text-color);
  text-decoration: underline;
}
@media (max-width: 780px) {
  .login-container {
    padding: 20px;
    width: 100vw;
  }
  .find-pw-container {
    margin-bottom: 1em;
  }
  .pw-text {
    margin-top: 35px;
  }
}
