body {
  margin: 0;
}

#root {
  background-image: url(../../../assets/images/login-bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.id-container {
  width: 75%;
  height: 20%;
  text-align: center;
}
.pw-container {
  width: 75%;
  height: 20%;
  text-align: center;
}
.loginlogo {
  width: 40%;
  height: 20%;
  margin-bottom: 40px;
}

.id-text {
  width: 20%;
  position: relative;
  /* width: 30px; */
  font-size: 1.5em;
  color: #2c2b2b;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-shadow: 0px 1px whitesmoke;
}
.errorMessage {
  color: red;
  font-size: 1em;
  margin-top: 3px;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.pw-text {
  width: 20%;
  position: relative;
  /* width: 30px; */
  font-size: 1.5em;
  color: #2c2b2b;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-shadow: 0px 1px whitesmoke;
}
.toggle-text {
  width: 3em;
  vertical-align: middle;
  font-size: 1em;
  color: #484848;
}

.find-pw-container {
  width: 75%;
  text-align: right;
}

.find-pw {
  padding: 0;
  margin: 0;
  color: #181717;
  font-size: 1.2em;
  text-shadow: 0px 1px whitesmoke;
}

.login-container {
  width: 75%;
  text-align: center;
}

.login-btn {
  position: relative;
  width: 100%;
  border: 0;
  /* width: 78%; */
  height: 50%;
  background: #484848;
  border-radius: 20px;
  font-size: 1.3em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 67px;
  box-shadow: black 4px 4px 4px;
  transition: 0.2s;
}
.login-btn:active {
  box-shadow: none;
}

.api-btn {
  position: relative;
  display: inline;
  margin-left: 10px;
  margin-bottom: 10px;
}

.api-btn button {
  margin-top: 40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.api-btn img {
  display: inline;
  width: 240px;
  border-radius: 20px;
}

.signup-div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #d8d8dd;
}

.signup-div span {
  color: #484848;
}
